.flashcard {
  width: 360px;
  height: 220px;
  margin: 2rem auto;
  perspective: 1000px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
  transition: transform 0.6s ease;
  transform-style: preserve-3d;
  border-radius: 15px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
  background-color: #fff3cd;
}

.card-inner.flipped {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fefefe;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  border-radius: 10px;
}
.card-front {
  background-color: #fff3cd;
}

.card-back {
  background-color: #c8e6c9;
  transform: rotateY(180deg);
}
